    body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #dde8dd; /* สีพื้นหลังที่เป็นสีเขียวอ่อน */
}

header {
    background: #a8d5ba; /* สีเขียวอ่อน */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    background: #8abf8f; /* สีเขียวกลาง */
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    background: #7a9a5c; /* สีเขียวเข้มสำหรับลิงก์ */
    border-radius: 5px;
}

nav ul li a:hover {
    background: #6f8e4f; /* สีเขียวเข้มสำหรับลิงก์เมื่อเอาเมาส์ไปชี้ */
}

main {
    padding: 20px;
}

footer {
    background: #a8d5ba; /* สีเขียวอ่อน */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
